/* CSS Resets */

/* targets all elements in the document with * and adds the following rule */
*,
*::before,
*::after {
    /* ensures that the margins and borders are included in width and height calculations for all elements */
    box-sizing: border-box;
}

/* general styles */

/* targets all elements and adds the following rules */
* {
    /* adds a font color of #848484 (gray) */
    color: #ffff;
    /* removes any underlines from anchor tags */
    text-decoration: none;
}

/* targets the body element and adds the following rules */
body {
    /* A background color of #000000 */
    background-color: #000000;
    /* A primary font of Montserrat, and a backup font of sans-serif in cases where there is no font support */
    font-family: 'Montserrat', sans-serif;
    /* Increased line height betqween font of 1.6 */
    line-height: 1.6;
    /* Removal of default margins */
    margin: 0;
    /* Ensure that the height stays at 100% of the screen */
    min-height: 100vh;
}

/* targets all ordered and unordered list elements and adds the following rules */
ol, ul {
    /* removes all default stuling of lists */
    list-style: none;
}

/* end of general styles */

/* info styles */
.occupationPara {
    color: #808080;
    font-size: 1.2em;
}
/* end of info styles */

/* portfolio styles */
#projectOne,
#projectTwo,
#projectThree,
#projectFour {
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#projectOne {
    background-image: url("assets/cha.jpg");
}

#projectTwo {
    background-image: url("assets/choleroti.jpg");
}
#projectThree {
    background-image: url("assets/sausagerice.jpg");
}
#projectFour {
    background-image: url("assets/somisomi.jpg");
}

.project a {
    color: white;
    text-decoration: none;
    background-color: #000000a1;
    width: 100%;
    font-size: 1.3em;
}

.project a:hover {
    color: yellow;
}
/* end portfolio styles */

/* testimonial styles */
.people p:nth-child(2) {
    font-size: 1.4em;
}

.people img {
    border-radius: 50%;
    height: 250px;
}

/* end of testimonial styles */

/* end of CSS */